.element{
  padding: 0;
  margin: 0;
}

.signup-main-container{
  width: 100%;
  height: 100vh;
  background-image: url('project-1.png');
  background-position: center;
  background-size: cover;
  padding: 110px 500px;
}

.signup-blur-container{
  width: auto;
  height: auto;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.signup-title{
  color: green;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
}

#signup-subheading{
  color: green;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

.signup-btn{
  margin-top: 30px;
  height: 50px;
  width: 100%;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.signup-btn:hover{
  background-color: #007200;
}

.signup-bottom-text{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}